{% extends "base.html" %} {% block content %}
<h2>IP Rules</h2>

<hr>

<h3>Add Rule</h3>

<form action="{% url 'addflow' %}" method="POST">
    {% csrf_token %}
    <table border="1">
        {{ form }}
    </table>
    <input type="submit" name="Submit" value="Add">
</form>

<hr>
<!--
<form action="/rules/delete/" method="POST">
    {% csrf_token %}
    <button type="submit">Delete All Rules</button>
</form>

<form action="/rules/allow_all/" method="POST">
    {% csrf_token %}
    <button type="submit">Set All Allowed</button>
</form>

<form action="/rules/deny_all/" method="POST">
    {% csrf_token %}
    <button type="submit">Set All Denied</button>
</form>
-->

<table border="1">
    <thead>
        <tr>
            <th> Lenght</th>
            <th> Table Id</th>
            <th>Alive Time Flow (s)</th>
            <th>Alive Time Flow (ns)</th>
            <th>Priority</th>
            <th>Idle Timeout </th>
            <th>Hard Timeout</th>
            <th>Flags</th>
            <th>Cookie</th>
            <th>Packets Count</th>
            <th>Byte Count</th>
            <th>In Port</th>
            <th>Ethernet Source Adress</th>
            <th>Ethernet Destination Address</th>
            <th>Port Output</th>
        </tr>
    </thead>
    <tbody>
        {% for rule in rules %}
        <tr>
            <!-- <td>
                <form action="{% url 'addflow'%}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Delete Rule</button>
                </form>
            </td> -->

            <td>{{ rule.length }}</td>
            <td>{{ rule.table_id }}</td>
            <td>{{ rule.duration_sec }}</td>
            <td>{{ rule.duration_nsec }}</td>
            <td>{{ rule.priority }}</td>
            <td>{{ rule.idle_timeout }}</td>
            <td>{{ rule.hard_timeout }}</td>
            <td>{{ rule.flags }}</td>
            <td>{{ rule.cookie }}</td>
            <td>{{ rule.packet_count }}</td>
            <td>{{ rule.byte_count }}</td>
            <td>{{ rule.match.in_port }}</td>
            <td>{{ rule.match.dl_src }}</td>
            <td>{{ rule.match.dl_dst }}</td>
            <td>{{ rule.actions }}</td>


            <!-- <td>{{ rules.1.lenght }}</td>
            <td>{{ rules.1.table_id }}</td>
            <td>{{ rules.1.duration_sec }}</td>
            <td>{{ rules.1.duration_nsec }}</td>
            <td>{{ rules.1.priority }}</td>
            <td>{{ rules.1.idle_timeout }}</td>
            <td>{{ rules.1.hard_timeout }}</td>
            <td>{{ rules.1.flags }}</td>
            <td>{{ rules.1.cookie }}</td>
            <td>{{ rules.1.packet_count }}</td>
            <td>{{ rules.1.byte_count }}</td>
            <td>{{ rules.1.match.in_port }}</td>
            <td>{{ rules.1.actions.OUTPUT }}</td> -->
            <!-- <td>{{ rule.dpid }}</td>
            <td>{{ rule.cookie }}</td>
            <td>{{ rule.cookie_mask }}</td>
            <td>{{ rule.table_id }}</td>
            <td>{{ rule.idle_timeout }}</td>
            <td>{{ rule.hard_timeout }}</td>
            <td>{{ rule.priority }}</td>
            <td>{{ rule.flags }}</td>
            <td>{{ rule.match }}</td> -->
           
<!--             
                <td>{{ switch.switch_id|default_if_none:"-" }}</td>
                <td>{{ rule.rule_id|default_if_none:"-" }}</td>
                <td>{{ rule.priority|default_if_none:"-" }}</td>
                <td>{{ rule.dl_type|default_if_none:"-" }}</td>
                <td>{{ rule.nw_src|default_if_none:"-" }}</td>
                <td>{{ rule.nw_dst|default_if_none:"-" }}</td>
                <td>{{ rule.ipv6_src|default_if_none:"-" }}</td>
                <td>{{ rule.ipv6_dst|default_if_none:"-" }}</td>
                <td>{{ rule.nw_proto|default_if_none:"-" }}</td>
                <td>{{ rule.tp_src|default_if_none:"-" }}</td>
                <td>{{ rule.tp_dst|default_if_none:"-" }}</td>
                <td>{{ rule.actions|default_if_none:"-" }}</td>
            -->
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
