<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>FTUI Library Contacts</title>
    <style media="screen">
    .jumbotron{
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .jumbotron h1{
      text-align: center;
    }
    .alert{
      margin: 0px;
    }
    </style>

    <title></title>
  </head>
  <body>

    {% include "navbar.html" %}

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>
{% block content %}

<h2>Switch Hardware Description</h2>



<table border="1">
    <thead>
        <tr>
            <th>DPID</th> 
            <th>Manifacturer</th>
            <th>Hardware Description</th>
            <th>Switch Description</th>
            <th>Switch Serial Number</th>
            <th>DP Description</th>
            
        </tr>
    </thead>
    <tbody>
        <!-- {% for a in rules %} -->
        <tr>
            <td>{{ br }}</td>
            <td>{{ rules.1.mfr_desc }}</td>
            <td>{{ rules.1.hw_desc }}</td>
            <td>{{ rules.1.sw_desc }}</td>
            <td>{{ rules.1.serial_num }}</td>
            <td>{{ rules.1.dp_desc }}</td>
        </tr>
        <tr>
        <td>{{ br2 }}</td>
        <td>{{ rules2.2.mfr_desc }}</td>
        <td>{{ rules2.2.hw_desc }}</td>
        <td>{{ rules2.2.sw_desc }}</td>
        <td>{{ rules2.2.serial_num }}</td>
        <td>{{ rules2.2.dp_desc }}</td>
        </tr>
        <tr>
        <td>{{ br3 }}</td>
        <td>{{ rules3.3.mfr_desc }}</td>
        <td>{{ rules3.3.hw_desc }}</td>
        <td>{{ rules3.3.sw_desc }}</td>
        <td>{{ rules3.3.serial_num }}</td>
        <td>{{ rules3.3.dp_desc }}</td>
        </tr>
        <tr>
        <td>{{ br4 }}</td>
        <td>{{ rules4.4.mfr_desc }}</td>
        <td>{{ rules4.4.hw_desc }}</td>
        <td>{{ rules4.4.sw_desc }}</td>
        <td>{{ rules4.4.serial_num }}</td>
        <td>{{ rules4.4.dp_desc }}</td>
        </tr>
        <!-- {% endfor %} -->
    </tbody>
</table>
{% endblock %}


{% include "footer.html" %}