<!doctype html>
<html lang="en">
  <head>
	<!-- <title>Data Center Network Manager</title> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<!-- <link rel="stylesheet" href="../../websrc/templates/css/style.css" type="text/css"/> -->

	</head>
	<body>
		{% include "navbar.html" %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Detailed Rules</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">

    
<hr>
<form action="{% url 'rules_add' %}" method="POST">
    {% csrf_token %}
    <table border="1">
        {{ form }}
    </table>
    <input type="submit" name="Submit">
</form>

<hr>

<form action="{% url 'rules_delete_all' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Delete All Rules</button>
</form>

<form action="{% url 'rules_allow_all' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Set All Allowed</button>
</form>

<form action="{% url 'rules_deny_all' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Set All Denied</button>
</form>


					<div class="table-wrap">
                        
						<table class="table table-bordered table-dark table-hover" id="myTable2">
						  <thead>
						    <tr onclick="sortTable(0)">
                                <th>operations</th>
            <th>sw_id</th>
            <th>rule_id</th>
            <th>priority</th>
            <th>dl_type</th>
            <th>nw_src</th>
            <th>nw_dst</th>
            <th>ipv6_src</th>
            <th>ipv6_dst</th>
            <th>nw_proto</th>
            <th>tp_src</th>
            <th>tp_dst</th>
            <th>actions</th>
						    </tr>
						  </thead>
						  <tbody>
                            {% for rule in rules %}
                            <tr>
                                <td>
                                    <form action="{% url 'rules_delete' rule.rule_id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit">Delete Rule</button>
                                    </form>
                                </td>
                                <td>{{ rule.switch_id }}</td>
                                <td>{{ rule.rule_id }}</td>
                                <td>{{ rule.priority }}</td>
                                <td>{{ rule.dl_type }}</td>
                                <td>{{ rule.nw_src }}</td>
                                <td>{{ rule.nw_dst }}</td>
                                <td>{{ rule.ipv6_src }}</td>
                                <td>{{ rule.ipv6_dst }}</td>
                                <td>{{ rule.nw_proto }}</td>
                                <td>{{ rule.tp_src }}</td>
                                <td>{{ rule.tp_dst }}</td>
                                <td>{{ rule.actions }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- href="{% static 'css/style.css' %}" -->
	{% load static %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script> 

	</body>
</html>

{% include "footer.html" %}

<script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("myTable2");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    </script>