<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>FTUI Library Contacts</title>
    <style media="screen">
    .jumbotron{
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .jumbotron h1{
      text-align: center;
    }
    .alert{
      margin: 0px;
    }
    </style>

    <title></title>
  </head>
  <body>

    {% include "navbar.html" %}

{% block content %}
<h2>Network Status</h2>

<form action="/status/enable/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Enable All" />
</form>

<form action="/status/disable/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Disable All" />
</form>

<table border="1">
    <thead>
        <tr>
            <th>SW ID</th>
            <th>Status</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        {% for s in status %}
       
        <tr>
            <td>{{ s.switch_id }}</td>
            <td>{{ s.status }}</td>
            <td>
                <form action="/status/enable/{{ s.switch_id }}/" method="POST">
                    <input type="submit" name="Enable" value="Enable" />
                </form>
                <form action="/status/disable/{{ s.switch_id }}/" method="POST">
                    <input type="submit" name="Disable" value="Disable" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


{% include "footer.html" %}